{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- login23:11-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Đăng nhập</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/assets/css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="{% static 'homepage/assets/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'homepage/assets/js/respond.min.js' %}"></script>
	<![endif]-->
</head>

<body>
                {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                {% endif %}
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
			<div class="account-center">
				<div class="account-box">
                    <form action="" method="POST" class="form-signin">
                        {% csrf_token %}
						<div class="account-logo">
                            <a href="index-2.html"><img src="assets/img/logo-dark.png" alt=""></a>
                        </div>
                        <div class="form-group">
                            <label>Tên đăng nhập</label>
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary account-btn">Đăng nhập</button>
                        </div>
                    </form>
                </div>
			</div>
        </div>
    </div>
    <script src="{% static 'homepage/assets/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'homepage/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'homepage/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/assets/js/app.js' %}"></script>
    <script>
        setTimeout(function () {
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 2000)
        $('#plateViewModal').on('show.bs.modal', function (e) {
            var src = $(e.relatedTarget).attr('image-source');
            $("#plateImg").attr("src", src);
        });
    </script>
</body>


<!-- login23:12-->
</html>