{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon">
    <title>TradeBTC</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/assets/css/style.css' %}">
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="" class="logo">
					<img src="{% static 'homepage/assets/img/logo.png' %}" width="35" height="35" alt=""><span>Admin Page</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="{% static 'homepage/assets/img/user.jpg' %}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span>{{request.user.username}}</span>
                    </a>
					<div class="dropdown-menu">
						 <a class="dropdown-item" href="{% url 'app:logout' %}">Đăng xuất</a> 
					</div>
                </li>
            </ul>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                       <li class="menu-title"></li>
                        <li>
                        <a href="{% url 'app:admin_dashboard' %}"><i></i> <span><h4><b>Thống kê</b></h4></span></a>
                        </li>
						<li>
                            <a href="{% url 'app:list_accept_input_money' %}"><i></i> <span><h4><b>Duyệt lệnh nạp</b></h4></span></a>
                        </li>
                        <li>
                            <a href="{% url 'app:list_accept_output_money' %}"><i></i> <span><h4><b>Duyệt lệnh rút</b></h4></span></a>
                        </li>
                        <li>
                            <a href="{% url 'app:set_phase_usdt' %}"><i></i> <span><h4><b>Chỉnh kết quả</b></h4></span></a>
                        </li>
                        <li class="submenu">
							<a href="#"><i></i> <span><h4><b>Quản lý</b></h4></span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
                                <li><a href="{% url 'app:list_staff' %}">Quản lý nhân viên</a></li>
                                <li><a href="{% url 'app:list_user' %}">Quản lý người dùng</a></li>
                                <li><a href="{% url 'app:list_user_not_referrer' %}">Thêm mã giới thiệu người dùng</a></li>
							</ul>
						</li> 
						<li class="submenu">
							<a href="#"><i></i> <span><h4><b>Lịch sử</b></h4></span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
                                                                                                                                                <li><a href="{% url 'app:history_input_for_admin' %}">Lịch sử nạp tiền</a></li>
                                                                                                                                                <li><a href="{% url 'app:history_output_for_admin' %}">Lịch sử rút tiền</a></li>
							</ul>
						</li> 
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                {% endif %}
<div class="col-12 col-md-6 col-lg-6 col-xl-6">
    <div class="card">
        <div class="card-body">
            <div class="chart-title">
                  <div>
                  <h4>Mã nhân viên: {{staff.code}}</h4>
                  </div>
                <h4>Số lượng user: {{total_user}}</h4>
                <div>
                <h4>Lương cơ bản: {{basic_salary}}</h4>
                </div>
                <h4>Tổng lương: {{total_salary}}</h4>
                <div class="float-right">
                  <button type="submit" class="btn btn-primary ml-5">
                                    <a href="{% url 'app:detail_staff_last_month' pk %}">Tháng Trước</a>
                  </button>
                    <ul class="chat-user-total">
                    </ul>
                </div>
            </div>	
            <canvas id="bargraph"></canvas>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'homepage/assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'homepage/assets/js/popper.min.js' %}"></script>
<script src="{% static 'homepage/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'homepage/assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'homepage/assets/js/Chart.bundle.js' %}"></script>
<script>
$(document).ready(function() {

    // Bar Chart

    var barChartData = {
        labels: ['Tháng ' + {{today.month}}],
        datasets: [{
            label: 'Nạp',
            backgroundColor: 'rgba(0, 158, 251, 0.5)',
            borderColor: 'rgba(0, 158, 251, 1)',
            borderWidth: 1,
            data: [{{input_month_value}}]
        }, {
            label: 'Rút',
            backgroundColor: 'rgba(255, 188, 53, 0.5)',
            borderColor: 'rgba(255, 188, 53, 1)',
            borderWidth: 1,
            data: [{{output_month_value}}]
        }]
    };
    var ctx = document.getElementById('bargraph').getContext('2d');
    window.myBar = new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
});
</script>
<script src="{% static 'homepage/assets/js/app.js' %}"></script>
<script>
setTimeout(function () {
    if ($('#msg').length > 0) {
        $('#msg').remove();
    }
}, 2000)
$('#plateViewModal').on('show.bs.modal', function (e) {
    var src = $(e.relatedTarget).attr('image-source');
    $("#plateImg").attr("src", src);
});
</script>
</body>