{% extends 'index/index.html' %}
{% block content %}
<div class="d-flex flex" id="content-body">
    <div class="d-flex flex-column flex card">
        <div class="padding">
            <div class="row ">
                <table id="table" class="table" data-mobile-responsive="true"
                    style="text-align: center;margin-top: 9px;">
                    <thead>
                        <tr>
                            <th data-sortable="true" data-field="stt" style="width: 3cm;">Username</th>
                            <th data-sortable="true" data-field="stt" style="width: 3cm;">Mã code</th>
                            <th></th>
                        </tr>
                    </thead>
                    <a href="{% url 'app:add_staff' %}">
                                    <button type="button" class="btn btn-light mr-5">Thêm mới nhân viên</button>
                  </a>
                    <tbody>
                        {% for i in data %}
                        <tr class=" " data-id="5">
                            <td style="min-width:20px;">
                                <small class="text-muted">{{ i.username }}</small>
                            </td>
                            <td style="min-width:20px;">
                                <small class="text-muted">{{ i.code }}</small>
                            </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{% url 'app:detail_staff' i.id %}"><i
                                                class="fa fa-pencil m-r-5"></i>Chi tiết</a>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        {% comment %} <a class="dropdown-item" href="{% url 'app1:listf' i.code %}"><i {% endcomment %}
                                                class="fa fa-pencil m-r-5"></i>Từ chối</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}