

{% extends 'index/index.html' %}
    {% block content %}
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <strong>Chỉnh phase</strong>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %} 
                <h4>Chọn kết quả phase</h4>
                <select name="type">
                  <option value="Long">Long</option>
                  <option value="Short">Short</option>
                  <option value="Single">Single</option>
                  <option value="Double">Double</option>
                  <option value="LS">LS</option>
                  <option value="SS">SS</option>
                  <option value="LD">LD</option>
                  <option value="SD">SD</option>
                  <option value="Maximum">Maximum</option>
                  <option value="Minimum">Minimum</option>
                </select>
                <div style="display:flex;align-item:center;justify-content:space-between">
                    <button type="submit" class="btn btn-primary mt-1">Đồng ý</button>
                    <button class="btn btn-primary mt-1">
                        <a style="color:#fff;" href="{% url 'app:cancel_set_phase_usdt' %}">Hủy chỉnh phase</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    {% endblock %}