{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Đầu tư</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'style/app.css'%}" />
    <link rel="stylesheet" href="{% static 'style/info.css'%}" />
    <link rel="stylesheet" href="{% static 'style/invest.css'%}" />
    <link rel="stylesheet" href="{% static 'style/addcss.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <div id="info" class="info invest">
      <div class="header">
        <i class="fa-solid fa-list"></i> <strong>USDT</strong>
        <span class="red green show-modal-option">LONG,DOUBLE</span>
        <span class="chart">
          <i class="fa-solid fa-chart-simple"></i>
        </span>
      </div>
      <div class="content">
        <div class="first-box">
            <div id="part1" class="part1">
              <form method="post" id="task-form">
                {% csrf_token %}
                <input name="type" class="input-short-long" value="" hidden
                 id="type" />
                <div class="item header-part1">Giao dịch thông thường</div>
                  <div class="list-item">
                    <div class="item" value="Long">
                      <div class="name">long</div>
                      <div class="price">1.96</div>
                    </div>
                    <div class="item" value="Short">
                      <div class="name">short</div>
                      <div class="price">1.96</div>
                    </div>
                    <div class="item" value="Single">
                      <div class="name">single</div>
                      <div class="price">1.96</div>
                    </div>
                    <div class="item" value="Double">
                      <div class="name">double</div>
                      <div class="price">1.96</div>
                    </div>
                    <div class="item" value="LS">
                      <div class="name">ls</div>
                      <div class="price">3.96</div>
                    </div>
                    <div class="item" value="SS">
                      <div class="name">ss</div>
                      <div class="price">3.96</div>
                    </div>
                    <div class="item" value="LD">
                      <div class="name">ld</div>
                      <div class="price">3.96</div>
                    </div>
                    <div class="item" value="SD">
                      <div class="name">sd</div>
                      <div class="price">3.96</div>
                    </div>
                    <div class="item" value="Maximum">
                      <div class="name">maximum</div>
                      <div class="price">15</div>
                    </div>
                    <div class="item" value="Minimum">
                      <div class="name">minimum</div>
                      <div class="price">15</div>
                    </div>
                  </div>
                  <div class="transaction">
                    <div class="available">
                      <p>Có sẵn</p>
                      <p id="my-money">{{user.wallet}} USDT</p>
                    </div>
                      <div class="input-number">
                        <input class="input-search" name="value" id="value" type="number" placeholder="Nhập số tiền giao dịch" />
                      </div>
                      <button type="submit" id="submit-btn"  class="btn btn-success">Mua ngay</button>
                  </div>
                </div>
              </form>
            </div>
          <div id="part2" class="part2">
            <div class="item header-part2">
              <span>Kết quả</span>
              <span id="phase" style="float: right" hour="{{phase.create_at.hour}}" minute="{{phase.create_at.minute}}" second="{{phase.create_at.second}}" a = {{phase.a}} b={{phase.b}} c={{phase.c}} code={{phase.code}}>Phase: {{phase.code}} </span>
            </div>


            <div class="list-item">
              <div class="item first-item">
                <i class="fa-solid fa-pause" ></i> <span id="socketTime"></span>
              </div>
              {% for i in last_phases %}
              <div class="item item-row">
                <div class="left">
                  <span class="red green"
                    >{{i.a}} + {{i.b}} + {{i.c}} = <span class="total">{{ i.a|add:i.b|add:i.c }}</span></span
                  >
                </div>
                <div class="right length-row red" value="{{i.a|add:i.b|add:i.c}}">No.{{i.code}}</div>
              </div>     
              {% endfor %}
            </div>
            <div class="end-part2">
              <h1 class="total-today" id="total-today">{{trade_all_value}}</h1>
              <p>Khối lượng giao dịch cá nhân hôm nay</p>
              <div class="box">
                  <div class="items-box" id="items-box">
                    
                  </div>
              </div>
            </div>
          </div>
        </div>
      <div class="content2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active btn"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              >Giao dịch hiện tại</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link btn"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              >Quy tắc giao dịch</a
            >
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab">
            <div id="list-item-phases" class="list-item">
              {% for i in trades %}
                {% if i.phase.phase_check == False %}
                  <div class="item">
                    <span style="float: left">
                      <h4>Phase{{i.phase.code}}/USTD</h4>
                      <p><i class="fa-solid fa-clock"></i> {{i.create_at}}</p>
                    </span>
                    <span style="float: right;text-align: right;" class="undefinded" value="{{i.id}}">
                      <h4>{{i.trade_value}}({{i.trade_value_win}})</h4>
                      <p class="total green">undefinded ({{i.trade_type}})</p>
                    </span>
                  </div>
                {% else %}
                  <div class="item">
                    <span style="float: left">
                      <h4>Phase{{i.phase.code}}/USTD</h4>
                      <p><i class="fa-solid fa-clock"></i> {{i.create_at}}</p>
                    </span>
                    <span style="float: right;text-align: right;">
                      <h4>{{i.trade_value}}
                        {% if i.result == 2 %}
                          ({{i.trade_value_win}})
                        {% else %}
                          (-{{i.trade_value_win}})
                          {% endif %}
                        </h4>
                      <p class="total green">{{i.phase.a}} + {{i.phase.b}} + {{i.phase.c}} = {{ i.phase.a|add:i.phase.b|add:i.phase.c }}({{i.trade_type}})</p>
                    </span>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            Không có quy tắc gì cả
          </div>
        </div>
      </div>
      <div class="footer-info">
        <div class="item">
          <div class="icon"><i class="fa-solid fa-house"></i></div>
          <div class="title">
            <a style="color:#fff;" href={% url 'app:home' %}>
            Trang đầu
            </a>
          </div>
        </div>
        <div class="item active">
          <div class="icon no-active">
            <img src="{% static 'assets/tabbar_mony_n.png'%}" width="24" alt="" />
          </div>
          <div class="icon have-active">
            <img src="{% static 'assets/tabbar_mony_y2.png'%}" width="24" alt="" />
          </div>
          <a style="color:#fff;">
          <div class="title">Đầu tư</div>
          </a>
        </div>
        <div class="item">
          <div class="icon no-active">
            <img src="{% static 'assets/tabbar_msg_n.png'%}" width="24" alt="" srcset="" />
          </div>
          <div class="icon have-active">
            <img src="{% static 'assets/tabbar_msg_y.png'%}" width="24" alt="" srcset="" />
          </div>
          <div class="title">
            <a style="color:#fff;" href={% url 'app:service' %}>
            Dịch vụ khách hàng
            </a>
          </div>
        </div>
        <div class="item">
          <div class="icon"><i class="fa-solid fa-user"></i></div>
          <div class="title">
            <a style="color:#fff;" href={% url 'app:dashboard' %}>
            Cá nhân
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="list-option-select" hidden>
      <div
        class="nav flex-column nav-pills"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          id="v-pills-home-tab"
          data-toggle="pill"
          href="#v-pills-home"
          role="tab"
          aria-controls="v-pills-home"
          aria-selected="true"
          ><img
            width="30"
            src="./assets/202211279ac6cf47-fd97-4a24-a5d7-0296a116fe89ustd.png"
            alt=""
          />
          USTD
        </a>
        <a
          class="nav-link"
          id="v-pills-profile-tab"
          data-toggle="pill"
          href="#v-pills-profile"
          role="tab"
          aria-controls="v-pills-profile"
          aria-selected="false"
        >
          <img
            width="30"
            src="./assets/2022112783237683-51f0-48ea-84b9-fa2d8bc562ad.png"
            alt=""
          />
          BTC
        </a>
        <a
          class="nav-link"
          id="v-pills-messages-tab"
          data-toggle="pill"
          href="#v-pills-messages"
          role="tab"
          aria-controls="v-pills-messages"
          aria-selected="false"
          ><img
            src="./assets/20221127945114d5-d116-4589-a751-b4f6f85bcca0.png"
            alt=""
            width="30"
          />
          ETH</a
        >
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="v-pills-home"
          role="tabpanel"
          aria-labelledby="v-pills-home-tab"
        >
          <h1>USTD</h1>
          <div class="list-select">
            <div class="option">
              <h2>Phòng sinh hoạt chung</h2>
              <p>Giá tối thiểu để vào phòng là 0</p>
            </div>
            <div class="option">
              <h2>Phòng sinh vip</h2>
              <p>Giá tối thiểu để vào phòng là 30000</p>
            </div>
            <div class="option">
              <h2>Phòng sinh superior</h2>
              <p>Giá tối thiểu để vào phòng là 150000</p>
            </div>
            <div class="option">
              <h2>Phòng sinh cao cấp</h2>
              <p>Giá tối thiểu để vào phòng là 600000</p>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-profile"
          role="tabpanel"
          aria-labelledby="v-pills-profile-tab"
        >
          <h1>BTC</h1>
          <div class="list-select">
            <div class="option">
              <h2>Phòng sinh hoạt chung</h2>
              <p>Giá tối thiểu để vào phòng là 0</p>
            </div>
            <div class="option">
              <h2>Phòng sinh vip</h2>
              <p>Giá tối thiểu để vào phòng là 30000</p>
            </div>
            <div class="option">
              <h2>Phòng sinh superior</h2>
              <p>Giá tối thiểu để vào phòng là 150000</p>
            </div>
            <div class="option">
              <h2>Phòng sinh cao cấp</h2>
              <p>Giá tối thiểu để vào phòng là 600000</p>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-messages"
          role="tabpanel"
          aria-labelledby="v-pills-messages-tab"
        >
          <h1>ETH</h1>
          <div class="list-select">
            <div class="option">
              <h2>Phòng sinh hoạt chung</h2>
              <p>Giá tối thiểu để vào phòng là 0</p>
            </div>
            <div class="option">
              <h2>Phòng sinh vip</h2>
              <p>Giá tối thiểu để vào phòng là 30000</p>
            </div>
            <div class="option">
              <h2>Phòng sinh superior</h2>
              <p>Giá tối thiểu để vào phòng là 150000</p>
            </div>
            <div class="option">
              <h2>Phòng sinh cao cấp</h2>
              <p>Giá tối thiểu để vào phòng là 600000</p>
            </div>
          </div>
        </div>
      </div>
      <div class="icon-close" style="padding: 0.5rem">
        <i style="color: black; font-size: 2rem" class="fa-solid fa-x"></i>
      </div>
    </div>
  </body>
  <script>
    let a = document.querySelector(".show-modal-option");
    let b = document.querySelector(".list-option-select");
    let c = document.querySelector(".icon-close");
    a.onclick = () => {
      b.removeAttribute("hidden");
    };
    c.onclick = () => {
      b.setAttribute("hidden", true);
    };
  </script>
  <script>
    /*
    On focus out on input nickname,
    call AJAX get request to check if the nickName
    already exists or not.
    */
    $("#nick_name").change(function () {
        // get the nickname
        var nick_name = $(this).val();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "",
            data: {"nick_name": nick_name}
        })
    })
  </script>
  <script>

  </script>
  <script>
    let itemsRows1 = document.querySelectorAll('.length-row')
    let itemsRows = document.querySelectorAll('.item.item-row')
    var existingElement = document.querySelector(".item.first-item");
    var firstChildElement = existingElement.querySelector(":first-child");
    for (var element of itemsRows1) {
      let class1 = Math.ceil(10 - 27/element.getAttribute("value"))
      element.classList.add(`w-${class1}`);
    }
  </script>
  
  
  <script type="text/javascript">
    let url = `ws://${window.location.host}/ws/invest/`

    const chatSocket = new WebSocket(url)
    let phaseTime = document.querySelector('#phase')
    let timeDataBase = phaseTime.getAttribute('hour')*3600 + 
    phaseTime.getAttribute('minute')*60 +
    phaseTime.getAttribute('second')*1;
    let response = {message:{
      a : phaseTime.getAttribute('a'),
      b : phaseTime.getAttribute('b'),
      c : phaseTime.getAttribute('c'),
      code:phaseTime.getAttribute('code'),
    }}
    var currentDate = new Date();
    let socketTime = document.querySelector("#socketTime")
    let btnSubmit = document.querySelector('#submit-btn')
    let resultsOfUser = []
    currentDate.setHours(currentDate.getHours() - 7);
    let timeNow =  currentDate.getHours() * 3600 + currentDate.getMinutes()*60 + currentDate.getSeconds()
    if(timeNow < timeDataBase){
      timeNow = timeNow + 60*60*24
    }
    let totalSeconds = 180 - (timeNow-timeDataBase)
    if(totalSeconds < 30){
      btnSubmit.setAttribute("disabled", true);
    }
    var countdownInterval = setInterval(countdown, 1000);
    function callA(){
        let a = document.querySelectorAll('.undefinded')
        if(resultsOfUser.length){
          resultsOfUser.forEach(item =>{
            console.log(item,"item")
            for (let i = 0; i < a.length; i++) {
              let trade_value_win = item.result == 'win' ? item.trade_value_win : `-${item.trade_value}`
              let element = a[i];
              let value = element.getAttribute('value',)
              console.log(value)
              if(value == item.trade_id){
                console.log('Chạy vào đây tiếp')
                // Đoạn HTML cần chèn
                var htmlToInsert = `<h4>${item.trade_value}(${trade_value_win})</h4>
                <p class="total green">${item.a} + ${item.b} + ${item.c} = ${parseInt(item.a) + parseInt(item.b) +parseInt(item.c)} (${item.trade_type})</p>`;
                // Thêm đoạn HTML vào phần tử mục tiêu
                element.innerHTML = htmlToInsert;
              }
            }
          })
        }
        let my_money = document.querySelector('#my-money')
        if(resultsOfUser.length){
          my_money.innerHTML = Math.floor(resultsOfUser[resultsOfUser.length-1].wallet)
        }


    }
    if(totalSeconds < 0) {
      firstChildElement.classList.add("fa-arrows-rotate");
      // Nội dung HTML mới cần chèn
      var htmlToInsert = `<div class="item item-row">
              <div class="left">
                <span class="red green"
                  >${response.message.a} + ${response.message.b} + ${response.message.c} = <span class="total">${parseInt(response.message.a) + parseInt(response.message.b) + parseInt(response.message.c)}</span></span
                >
              </div>
              <div class="right length-row red w-${Math.floor(10-27/Math.ceil(parseInt(response.message.a) + parseInt(response.message.b) + parseInt(response.message.c)))}" value="">No.${response.message.code}</div>
            </div> `;
      existingElement.insertAdjacentHTML("afterend", htmlToInsert);
      itemsRows[4].remove()
    }
    function countdown() {
    if (totalSeconds > 0) {
      var minutes = Math.floor(totalSeconds / 60);
      var seconds = totalSeconds % 60;
      if(seconds >= 10) {
        socketTime.innerHTML = minutes +":"+seconds 
      } else {
        socketTime.innerHTML = minutes +":0"+seconds 
      }
      if(totalSeconds < 30){
        btnSubmit.setAttribute("disabled", true);
      }
      totalSeconds--;
    } else if(totalSeconds == 0) {
      socketTime.innerHTML = "0:00"
      clearInterval(countdownInterval); // Dừng interval khi đếm ngược kết thúc
      setTimeout(()=>{
        firstChildElement.classList.add("fa-arrows-rotate");
        // Nội dung HTML mới cần chèn
        var htmlToInsert = `<div class="item item-row">
                <div class="left">
                  <span class="red green"
                    >${response.message.a} + ${response.message.b} + ${response.message.c} = <span class="total">${parseInt(response.message.a) + parseInt(response.message.b) + parseInt(response.message.c)}</span></span
                  >
                </div>
                <div class="right length-row red w-${Math.floor(10-27/Math.ceil(parseInt(response.message.a) + parseInt(response.message.b) + parseInt(response.message.c)))}" value="">No.${response.message.code}</div>
              </div> `;
        existingElement.insertAdjacentHTML("afterend", htmlToInsert);
        itemsRows[4].remove()
      }, 50);
    }
  }
    chatSocket.onopen = () => chatSocket.send(JSON.stringify({'message': 'normal' }))
    let oldCron = response.message.code;
    console.log(oldCron)
    chatSocket.onmessage = function(e){
        let another_user = []
        response = JSON.parse(e.data)
        console.log(response)
        if(response.type =='cron'){
              callA()
              newCron = response.message.code
              console.log(oldCron)
              oldCron = newCron
              clearInterval(countdownInterval);
              var existingElement2 = document.querySelector(".item.first-item");
              var firstChildElement2 = existingElement2.querySelector(":first-child");
              firstChildElement2.classList.remove("fa-arrows-rotate");
              phaseTime.innerHTML = `Phase: ${response.message.code}`       
              totalSeconds = 175
              btnSubmit.removeAttribute("disabled");
              countdownInterval = setInterval(countdown, 1000);
        }else if(response.type =='user_trade'){
          another_user = []
          let my_money = document.querySelector('#my-money')
          let total_today = document.querySelector('#total-today')
          my_money.innerHTML = Math.floor(response.message.wallet)
          total_today.innerHTML = Math.floor(response.message.trade_all_value)
          let itemPhases = document.querySelector('#list-item-phases')
          // Tạo đối tượng Date từ chuỗi thời gian ban đầu
          let originalDate = new Date(response.message.trade_time);
          // Lấy các thành phần thời gian
          let month = originalDate.toLocaleString('default', { month: 'long' });
          let day = originalDate.getDate();
          let year = originalDate.getFullYear();
          let hour = originalDate.getHours();
          let minute = originalDate.getMinutes();
          let formattedTimeString = month + " " + day + ", " + year + ", " + hour + ":" + minute + (hour < 12 ? " a.m." : " p.m.");
          let htmlToInsert2 = `<div class="item">
            <span style="float: left">
              <h4>Phase${response.message.phase}/USTD</h4>
              <p><i class="fa-solid fa-clock"></i> ${formattedTimeString}</p>
            </span>
            <span style="float: right;text-align: right;" class="undefinded" value="${response.message.trade_id}">
              <h4>${response.message.trade_value}(${response.message.trade_value_win})</h4>
              <p class="total green"><span>undefinded (${response.message.trade_type})</span></p>
            </span>
          </div>`;
          itemPhases.insertAdjacentHTML("afterbegin", htmlToInsert2);
        }else if(response.type == "result_of_user"){
          resultsOfUser.push(response.message)
        }else if(response.type=="another_user"){
          another_user = []
          another_user.push(response.message)
        }
        
        console.log(another_user)
        if(another_user.length){
          let abc = document.querySelector('#items-box')
          another_user.forEach(item =>{
            let htmlToInsert3 = `<div class="item">
              <span>${item.trade_type_client}</span>
              <span>${item.trade_value_client}</span>
            </div>`;
            abc.insertAdjacentHTML("beforeend", htmlToInsert3);
          })

        }
    }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).on('submit', '#task-form', function (e) {
        e.preventDefault()
        $.ajax({
          type: 'POST',
          url: '{% url "app:invest" %}',
          data: {
            value: $('#value').val(),
            type: $('#type').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
          }
        })
        const searchInput = document.querySelector('.input-search')
        searchInput.value = ''
      })
    </script>
    <script>
      const list = document.querySelectorAll(".invest .content .part1 .item");
      let inputValue = document.querySelector(".input-short-long");
      let value = null;
      list.forEach(function(element) {
        element.addEventListener('click', function() {
          // Xóa lớp "active" khỏi tất cả các phần tử
          list.forEach(function(el) {
            el.classList.remove('active-selection');
          });
      
          // Thêm lớp "active" vào phần tử được nhấp chuột
          this.classList.add('active-selection');
          value = element.getAttribute('value');
          inputValue.setAttribute('value', value);
        });
      });

    </script>

</html>
